h1{
    text-align: center;
    margin:.5em 0 .5em 0;
    cursor: pointer;
}

.field {
    width: 32px;
    height: 32px;
    border: 1px solid grey;
    margin: 0px;
    float: left;
}

#board{
    width:320px;
    height:320px;
}

.move_button {
    width: 70px;
}

.center{
    display: block;
    margin: 0 auto;
}

#logo{
    padding: 1em;
}

#browseButtons{
    max-width: 600px;
}

#newGameBtn{
   margin-left: 231.7px;
}

#login{
    margin-top: 3em;
}

#input_username{
    width: 15em;
}

.border{
    border: solid 1px black;
    max-width: 600px;
    border-radius: 5px;
    padding-right: 0px;
}

.border p{
    display: inline;
    margin: 8px 0 0 0;
}

.player{
    max-width: 500px;
    margin-bottom: 2px;
}

.text-center{
    text-align: center;
}