h1{
    text-align: center;
    margin:.5em 0 .5em 0;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 15px;
}

.field {
    width: 32px;
    height: 32px;
    border: 1px solid grey;
    margin: 0px;
    float: left;
}

#highscore_list{
    width: 300px;
    margin-top: 50px;
}

li{
    list-style: none;
}

#countdown{
    text-align: center;
}

#winner{
    text-align: center;
}

#board{
    width:320px;
    height:320px;
}

#lobby{
    min-height: 340px;
}

.move_button {
    width: 70px;
}

.center{
    display: block;
    margin: 0 auto;
}

#logo{
    padding: 1em;
}

#browseButtons{
    max-width: 600px;
}

#newGameBtn{
   margin-left: 231.7px;
}

#backBtn{
    margin-top: 1em;
    margin-bottom: 1em;
}

#login{
    margin-top: 3em;
}

#input_username{
    width: 15em;
}

.border{
    border: solid 1px black;
    max-width: 600px;
    min-height: 36px;
    border-radius: 5px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: white;

}

.border2{
    background-color: #efefef;
    border-radius: 5px;
    border: solid 1px black;

}

.border p{
    display: inline;
    margin: 8px 0 0 0;
    padding-left: 5px;
    padding-right: 5px;
}

.player{
    max-width: 500px;
    margin-bottom: 2px;
}

.text-center{
    text-align: center;
}