.field {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 2px 2px 2px 0px;
    float: left;
}

.move_button {
    width: 70px;
}

h1{
    text-align: center;
}

.center{
    display: block;
    margin: 0 auto;
}

#logo{
    padding: 1em;
}

#login{
    margin-top: 5em;
}